.no-border {
    border: none;
    background: white;
    border: 1px solid #03A9F4;
}

.oculto:hover {
    cursor: pointer;
}

.cursor-hand {
    cursor: pointer;
}

.no-border:focus {
    font-size: 105%;
    /*transform: translateX(-1%);
    transition: .3s ease-out;*/
    font: 1.5em "handwriting", sans-serif;
    padding: 0 10px;
    margin: 0;
}

input:active {
    border: 1px solid #000;
}

.editable {
    border: 1px solid #03A9F4;
    padding: 1px 1px 1px 1px;
}

.oculto {
    opacity: 0.07;
    margin-left: 15px;
}

.oculto:hover {
    opacity: 0.9;
}

.jsgrid-control-field {
    max-width: 5px;
}

.header {
    background-color: #0b3355;
    height: 25%;
    color: white;
}

#quote-info,
#quote-alert {
    position: absolute;
    top: 0;
    bottom: 70%;
    left: 30%;
    right: 30%;
    color: #333;
    padding: 0px 0px 0px 0px;
    margin: 20px 20px 20px 20px;
    font-size: 14px;
    /*border:rgb(55, 65, 56);
    box-shadow: 10px 15px 15px 15px black;*/
    background-color: #f5f5f5;
    border-color: grey;
    border: solid 0.1px;
}

.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: white;
    color: #333;
    overflow: auto;
    margin: 5px 0px 5px 5px;
    padding: 5px 0px 5px 5px;
}

.message-data {
    /*position: absolute;*/
    margin: 25px;
    font-size: 16px;
    text-align: center;
}


/**********panel editing*************/

#panel,
#panel-charge,
#panel-item,
#panel-search {
    background: #dbdbd2;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35em;
    z-index: 2000;
    box-shadow: 10px 15px 15px 15px black;
    overflow-y: auto;
    overflow-x: hidden;
}

.active {
    background-position: right 12px;
}

#table-charges input,
#table-charges-new input,
#table-items input,
#table-items-new input {
    background-color: rgb(255, 255, 255);
    border: none;
}

#table-items td,
#table-items-new th {
    border: 1px solid #dee2e6;
    padding-right: 0px;
    padding-left: 2px;
}


/*.table td, .table th{
    padding-right: 0px;
    padding-left: 2px;

}
*/


/******** labels on panel **********/

.fieldset {
    border: 1px solid #38312b;
    background: #eee;
    padding: 18px 0px 20px 18px;
    color: #333;
    margin: 10px 0px 10px 0px;
}

.fieldset .row {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

.fieldset .legend {
    background: #CCA383;
    padding: 6px;
    font-weight: bold;
}

.label {
    color: #333;
    font-weight: bold;
    display: block;
    width: 60%;
    float: left;
}

table td .numeric {
    text-align: right;
}

.panel select,
.panel input {
    text-align-last: right;
    padding: 0px 5px 0px 10px;
    direction: rtl;
}


/*removing scrollbar from table list mquote*/

.jsgrid-grid-header,
.jsgrid-grid-body {
    overflow: auto;
}


/**** pdf styles ***/

#htmlToPdf {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #000;
    word-wrap: break-word;
}

.border-right {
    border-right: 1px #000 solid;
}

#htmlToPdf span {
    font-weight: bolder;
}

.headerMquote {
    padding: 5px 0px 5px 0px;
    border: 1px solid #a8a19b;
    font-size: 12px;
}

.headerPDF {
    padding: 5px 0px 5px 0px;
    border: none;
    font-size: 11px;
}

.headerFont {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.headerPrincipal {
    background-color: #c5cbce;
}

.bolder {
    font-weight: bolder;
}

.headerTable {
    background-color: rgb(220, 237, 245);
    font-weight: bolder;
    font-size: 11px;
}

.session-first {
    font-size: 18px;
}

.session-second {
    word-wrap: break-word;
}

.HtmltoPdf .col {
    font-size: 12px;
}


/*.toPdf {
    font-size: 12px;
}*/