.no-border {
    border:none;
    background: white;
    border: 1px solid #03A9F4;
}

.oculto:hover{
    cursor: pointer;
}

.cursor-hand{
    cursor: pointer;

}

.no-border:focus {
    font-size   : 105%;
    /*transform: translateX(-1%);
    transition: .3s ease-out;*/
    font: 1.5em "handwriting", sans-serif;
    padding: 0 10px;
    margin : 0;

}

input:active {
    border:1px solid #000;
}
.editable {
    border: 1px solid #03A9F4;
    padding: 1px 1px 1px 1px;
}

.oculto {
    opacity: 0.07;
    margin-left: 15px;
}
.oculto:hover {
    opacity: 0.9;
}

.jsgrid-control-field {
    max-width: 5px;
}


#quote-info, #quote-alert {
    position: absolute;
    top: 0;
    bottom: 70%;
    left: 30%;
    right: 30%;
    color: #333;
    padding: 10px 5px 5px 10px;
    margin: 20px 20px 20px 20px;
    font-size: 14px;
    border:rgb(55, 65, 56);
    box-shadow: 10px 15px 15px 15px black;
}

#quote-alert{
    background: rgb(236, 178, 178);
}
#quote-info{
    background: rgb(176, 219, 183);
}

.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: #333;
  overflow: auto;

}

.message-data {
    position: absolute;
    margin: 20px 20px 20px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/*.panel .row{
    border: 2px solid #0b3355;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}*/

/**********panel editing*************/
#panel, #panel-charge, #panel-item, #panel-search {
    background: #FAFAD2;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60em;
    /*transform: translateX(100%);*/
    transition: .3s ease-out;
    z-index: 2000;
    box-shadow: 10px 15px 15px 15px black;
}
.active {
    background-position: right 12px;
}

#table-charges input, #table-charges-new input, #table-items input, #table-items-new input {
    background-color: rgb(255, 255, 255);
    border: none;
}


/******** labels on panel **********/
.fieldset {
	border: 1px solid #38312b;
	background: #eee;
	padding: 8px 8px 8px 8px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fieldset .legend {
	background: #CCA383;
	padding: 6px;
	font-weight: bold;
}
.label {
	color: #333;
	font-weight: bold;
	display: block;
	width: 60%;
	float: left;
}
